<h2 class="page-header"><%= book.title %></h2>
<div class="book-details">
  <div>
    <img
      class="book-cover"
      src="<%= book.coverImagePath %>"
      alt="<%= book.title%> Cover Image"
    />
    <div class="book-details-btn-grid">
      <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
      <a
        class="btn btn-primary book-details-author-button"
        href="/authors/<%= book.author.id %>"
        >View Author</a
      >
    </div>
  </div>

  <div class="book-details-grid">
    <div class="book-details-label">Author:</div>
    <div><%= book.author.name %></div>
    <div class="book-details-label">Publish Date:</div>
    <div><%= book.publishDate.toDateString() %></div>
    <div class="book-details-label">Page Count:</div>
    <div><%= book.pageCount %></div>
    <div class="book-details-label">Description:</div>
    <div><%= book.description %></div>
    <div class="book-details-label">Book Status:</div>
    <% if (book.isRead) { %>

    <div>
      This book is no longer on the Stack. Go ahead and put it on the shelf and
      get started on another!
    </div>
    <% } else { %>
    <div>
      This book is currently on the stack. You've been working hard, how about
      you treat yourself to a nice break and get to reading?
    </div>
    <% } %>
  </div>
</div>
